body {
    font-family: "Open Sans", sans-serif;
    background-color: whitesmoke;
    color: #666;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #31473A;
    color: #e8e8e8;
    padding: 1rem 0;
    position: relative;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
}


header nav {
    margin-top: 0.5rem;
}

header nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    margin: 0 1rem;
}

header nav a:hover,
header nav a:active,
header nav a:visited {
    text-decoration: none;
    color: #fff;
}

footer {
    background-color: #e8e8e8;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
